<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <title>Feedback with Spring</title>
</head>
<body>
<form action="/guest-book-spring" method="post">
    <input name="name" placeholder="Name"><br/>
    <textarea name="message" placeholder="Message"></textarea><br/>
    <select name="rating">
        <option value="rating" selected disabled hidden>Choose rating</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
    </select>
    <button type="submit">Submit</button>
</form>
<table>
    <tr>
        <td>Date</td>
        <td>Name</td>
        <td>Message</td>
        <td>Rating</td>
    </tr>
    <tr th:each="feedback : ${result}">
        <td th:text="${feedback.date}"/>
        <td th:text="${feedback.name}"/>
        <td th:text="${feedback.message}"/>
        <td th:text="${feedback.rating}"/>
    </tr>
</table>
</body>
</html>
