<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
</head>
<body>
<div th:text="${passwordError}"></div>
<div th:text="${usernameError}"></div>
<form th:action="@{/reg}" method="post">
    <div><label> User Name : <input type="text" name="username"/> </label></div>
    <div><label> Password: <input type="password" name="password"/> </label></div>
    <div><label> Confirm password: <input type="password" name="passconfirm" placeholder="Confirm your password"> </label></div>
    <div><input type="submit" value="Reg"/></div>
</form>
<a href="/">Main Page</a>
</body>
</html>