<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Games</title>
</head>
<body>
<button value="new" onclick="window.location.href='/'">MAIN PAGE</button><br/>
<h2>Download</h2>
<button value="word" onclick="window.location.href='games/doc'">DOC</button>
<button value="pdf" onclick="window.location.href='games/pdf'">PDF</button>
<button value="excel" onclick="window.location.href='games/excel'">EXCEL</button><br/>
<h2>Add game or new player</h2>
<button value="new" onclick="window.location.href='/games/new'">NEW GAME</button>
<button value="new" onclick="window.location.href='/players'">NEW PLAYER</button>
<table>
    <tr>
        <td>GAME №</td>
        <td>DATE</td>
        <td>RATING</td>
        <td>HOST</td>
        <td>WINNER</td>
        <td>LINK</td>
    </tr>
    <tr th:each="game : ${games}">
        <td><p th:text="${game.id}"></td>
        <td><p th:text="${game.date}"></td>
        <td><p th:text="${game.rating}"></td>
        <td><p th:text="${game.host}"></td>
        <td><p th:text="${game.winnerDto}"></td>
        <td><a th:href="@{'/games/' + ${game.id} + '/show'}">More details</a> </td>
    </tr>
</table>
</body>
</html>