<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New game</title>
</head>
<body>
<h1>Страница добавления новой игры доступная только админам</h1>
<button value="new" onclick="window.location.href='/'">MAIN PAGE</button><br/>
<form method="post" action="">
    <table>
        <tr>
            <td>WINNER</td>
            <td>HOST</td>
            <td>RATING</td>
            <td>PY</td>
            <td>MAF</td>
            <td>MAF</td>
            <td>MAF</td>
        </tr>

        <tr>
            <td><select name="winner" th:placeholder="Winner">
                <option th:each="win : ${winner}" th:value="${win}" th:text="${win}"></option>
            </select></td>
            <td><select name="host">
                <option th:each="host : ${players}" th:value="${host}" th:text="${host}"></option>
            </select></td>
            <td><select name="rating">
                <option value="true">Yes</option>
                <option value="false">No</option>
            </select></td>
            <td><select name="py">
                <option value="0" selected>0</option> <option value="1">1</option> <option value="2">2</option>
                <option value="3">3</option> <option value="4">4</option> <option value="5">5</option> <option value="6">6</option>
                <option value="7">7</option> <option value="8">8</option> <option value="9">9</option> <option value="10">10</option>
            </select></td>
            <td><select name="maf1">
                <option value="0" selected>0</option> <option value="1">1</option> <option value="2">2</option>
                <option value="3">3</option> <option value="4">4</option> <option value="5">5</option> <option value="6">6</option>
                <option value="7">7</option> <option value="8">8</option> <option value="9">9</option> <option value="10">10</option>
            </select></td>
            <td><select name="maf2">
                <option value="0" selected>0</option> <option value="1">1</option> <option value="2">2</option>
                <option value="3">3</option> <option value="4">4</option> <option value="5">5</option> <option value="6">6</option>
                <option value="7">7</option> <option value="8">8</option> <option value="9">9</option> <option value="10">10</option>
            </select></td>
            <td><select name="maf3">
                <option value="0" selected>0</option> <option value="1">1</option> <option value="2">2</option>
                <option value="3">3</option> <option value="4">4</option> <option value="5">5</option> <option value="6">6</option>
                <option value="7">7</option> <option value="8">8</option> <option value="9">9</option> <option value="10">10</option>
            </select></td>
        </tr>
        <tr>
            <td>PLACE</td>
            <td>PLAYER</td>
            <td>PENALTY</td>
            <td>DAY 1</td> <td>DAY 2</td> <td>DAY 3</td> <td>DAY 4</td> <td>DAY 5</td> <td>DAY 6</td>
            <td>ROLE</td>
            <td>ADDITIONAL POINTS</td>
        </tr>

        <tr>
            <td>1</td>
            <td><select name="player1">
                <option th:each="player : ${players}" th:value="${player}" th:text="${player}"></option>
            </select></td>
            <td><select name="penalty1">
                <option value="0" selected>0</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
            </select></td>
            <td><input size="1px"></td> <td><input size="1px"></td> <td><input size="1px"></td>
            <td><input size="1px"></td> <td><input size="1px"></td> <td><input size="1px"></td>
            <td><select name="role1">
                <option th:each="role : ${roles}" th:value="${role}" th:text="${role}"></option>
            </select></td>
            <td><select name="addpoints1">
                <option value="0" selected>0</option> <option value="0.2">0.2</option> <option value="0.3">0.3</option>
                <option value="0.4">0.4</option> <option value="0.5">0.5</option> <option value="-0.4">-0.4</option>
                <option value="-0.5">-0.5</option> <option value="-2">-2</option>
            </select></td>
        </tr>

        <tr>
            <td>2</td>
            <td><select name="player2">
                <option th:each="player : ${players}" th:value="${player}" th:text="${player}"></option>
            </select></td>
            <td><select name="penalty2">
                <option value="0" selected>0</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
            </select></td>
            <td><input size="1px"></td> <td><input size="1px"></td> <td><input size="1px"></td>
            <td><input size="1px"></td> <td><input size="1px"></td> <td><input size="1px"></td>
            <td><select name="role2">
                <option th:each="role : ${roles}" th:value="${role}" th:text="${role}"></option>
            </select></td>
            <td><select name="addpoints2">
                <option value="0" selected>0</option> <option value="0.2">0.2</option> <option value="0.3">0.3</option>
                <option value="0.4">0.4</option> <option value="0.5">0.5</option> <option value="-0.4">-0.4</option>
                <option value="-0.5">-0.5</option> <option value="-2">-2</option>
            </select></td>
        </tr>

        <tr>
            <td>3</td>
            <td><select name="player3">
                <option th:each="player : ${players}" th:value="${player}" th:text="${player}"></option>
            </select></td>
            <td><select name="penalty3">
                <option value="0" selected>0</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
            </select></td>
            <td><input size="1px"></td> <td><input size="1px"></td> <td><input size="1px"></td>
            <td><input size="1px"></td> <td><input size="1px"></td> <td><input size="1px"></td>
            <td><select name="role3">
                <option th:each="role : ${roles}" th:value="${role}" th:text="${role}"></option>
            </select></td>
            <td><select name="addpoints3">
                <option value="0" selected>0</option> <option value="0.2">0.2</option> <option value="0.3">0.3</option>
                <option value="0.4">0.4</option> <option value="0.5">0.5</option> <option value="-0.4">-0.4</option>
                <option value="-0.5">-0.5</option> <option value="-2">-2</option>
            </select></td>
        </tr>

        <tr>
            <td>4</td>
            <td><select name="player4">
                <option th:each="player : ${players}" th:value="${player}" th:text="${player}"></option>
            </select></td>
            <td><select name="penalty4">
                <option value="0" selected>0</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
            </select></td>
            <td><input size="1px"></td> <td><input size="1px"></td> <td><input size="1px"></td>
            <td><input size="1px"></td> <td><input size="1px"></td> <td><input size="1px"></td>
            <td><select name="role4">
                <option th:each="role : ${roles}" th:value="${role}" th:text="${role}"></option>
            </select></td>
            <td><select name="addpoints4">
                <option value="0" selected>0</option> <option value="0.2">0.2</option> <option value="0.3">0.3</option>
                <option value="0.4">0.4</option> <option value="0.5">0.5</option> <option value="-0.4">-0.4</option>
                <option value="-0.5">-0.5</option> <option value="-2">-2</option>
            </select></td>
        </tr>

        <tr>
            <td>5</td>
            <td><select name="player5">
                <option th:each="player : ${players}" th:value="${player}" th:text="${player}"></option>
            </select></td>
            <td><select name="penalty5">
                <option value="0" selected>0</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
            </select></td>
            <td><input size="1px"></td> <td><input size="1px"></td> <td><input size="1px"></td>
            <td><input size="1px"></td> <td><input size="1px"></td> <td><input size="1px"></td>
            <td><select name="role5">
                <option th:each="role : ${roles}" th:value="${role}" th:text="${role}"></option>
            </select></td>
            <td><select name="addpoints5">
                <option value="0" selected>0</option> <option value="0.2">0.2</option> <option value="0.3">0.3</option>
                <option value="0.4">0.4</option> <option value="0.5">0.5</option> <option value="-0.4">-0.4</option>
                <option value="-0.5">-0.5</option> <option value="-2">-2</option>
            </select></td>
        </tr>

        <tr>
            <td>6</td>
            <td><select name="player6">
                <option th:each="player : ${players}" th:value="${player}" th:text="${player}"></option>
            </select></td>
            <td><select name="penalty6">
                <option value="0" selected>0</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
            </select></td>
            <td><input size="1px"></td> <td><input size="1px"></td> <td><input size="1px"></td>
            <td><input size="1px"></td> <td><input size="1px"></td> <td><input size="1px"></td>
            <td><select name="role6">
                <option th:each="role : ${roles}" th:value="${role}" th:text="${role}"></option>
            </select></td>
            <td><select name="addpoints6">
                <option value="0" selected>0</option> <option value="0.2">0.2</option> <option value="0.3">0.3</option>
                <option value="0.4">0.4</option> <option value="0.5">0.5</option> <option value="-0.4">-0.4</option>
                <option value="-0.5">-0.5</option> <option value="-2">-2</option>
            </select></td>
        </tr>

        <tr>
            <td>7</td>
            <td><select name="player7">
                <option th:each="player : ${players}" th:value="${player}" th:text="${player}"></option>
            </select></td>
            <td><select name="penalty7">
                <option value="0" selected>0</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
            </select></td>
            <td><input size="1px"></td> <td><input size="1px"></td> <td><input size="1px"></td>
            <td><input size="1px"></td> <td><input size="1px"></td> <td><input size="1px"></td>
            <td><select name="role7">
                <option th:each="role : ${roles}" th:value="${role}" th:text="${role}"></option>
            </select></td>
            <td><select name="addpoints7">
                <option value="0" selected>0</option> <option value="0.2">0.2</option> <option value="0.3">0.3</option>
                <option value="0.4">0.4</option> <option value="0.5">0.5</option> <option value="-0.4">-0.4</option>
                <option value="-0.5">-0.5</option> <option value="-2">-2</option>
            </select></td>
        </tr>

        <tr>
            <td>8</td>
            <td><select name="player8">
                <option th:each="player : ${players}" th:value="${player}" th:text="${player}"></option>
            </select></td>
            <td><select name="penalty8">
                <option value="0" selected>0</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
            </select></td>
            <td><input size="1px"></td> <td><input size="1px"></td> <td><input size="1px"></td>
            <td><input size="1px"></td> <td><input size="1px"></td> <td><input size="1px"></td>
            <td><select name="role8">
                <option th:each="role : ${roles}" th:value="${role}" th:text="${role}"></option>
            </select></td>
            <td><select name="addpoints8">
                <option value="0" selected>0</option> <option value="0.2">0.2</option> <option value="0.3">0.3</option>
                <option value="0.4">0.4</option> <option value="0.5">0.5</option> <option value="-0.4">-0.4</option>
                <option value="-0.5">-0.5</option> <option value="-2">-2</option>
            </select></td>
        </tr>

        <tr>
            <td>9</td>
            <td><select name="player9">
                <option th:each="player : ${players}" th:value="${player}" th:text="${player}"></option>
            </select></td>
            <td><select name="penalty9">
                <option value="0" selected>0</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
            </select></td>
            <td><input size="1px"></td> <td><input size="1px"></td> <td><input size="1px"></td>
            <td><input size="1px"></td> <td><input size="1px"></td> <td><input size="1px"></td>
            <td><select name="role9">
                <option th:each="role : ${roles}" th:value="${role}" th:text="${role}"></option>
            </select></td>
            <td><select name="addpoints9">
                <option value="0" selected>0</option> <option value="0.2">0.2</option> <option value="0.3">0.3</option>
                <option value="0.4">0.4</option> <option value="0.5">0.5</option> <option value="-0.4">-0.4</option>
                <option value="-0.5">-0.5</option> <option value="-2">-2</option>
            </select></td>
        </tr>

        <tr>
            <td>10</td>
            <td><select name="player10">
                <option th:each="player : ${players}" th:value="${player}" th:text="${player}"></option>
            </select></td>
            <td><select name="penalty10">
                <option value="0" selected>0</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
            </select></td>
            <td><input size="1px"></td> <td><input size="1px"></td> <td><input size="1px"></td>
            <td><input size="1px"></td> <td><input size="1px"></td> <td><input size="1px"></td>
            <td><select name="role10">
                <option th:each="role : ${roles}" th:value="${role}" th:text="${role}"></option>
            </select></td>
            <td><select name="addpoints10">
                <option value="0" selected>0</option> <option value="0.2">0.2</option> <option value="0.3">0.3</option>
                <option value="0.4">0.4</option> <option value="0.5">0.5</option> <option value="-0.4">-0.4</option>
                <option value="-0.5">-0.5</option> <option value="-2">-2</option>
            </select></td>
        </tr>
    </table>
    <button type="submit">Add new game</button>
</form>

</body>
</html>