<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Game № </title>
</head>
<body>
<button value="new" onclick="window.location.href='/'">MAIN PAGE</button><br/>
<h1>GAME</h1>
<table>
    <tr>
        <td>GAME №</td>
        <td>DATE</td>
        <td>RATING</td>
        <td>HOST</td>
        <td>WINNER</td>
    </tr>
    <tr>
        <td><p th:text="${game.id}"></td>
        <td><p th:text="${game.date}"></td>
        <td><p th:text="${game.rating}"></td>
        <td><p th:text="${game.host}"></td>
        <td><p th:text="${game.winner}"></td>
    </tr>
</table>
<h1>PLAYERS</h1>
<table>
    <tr>
        <td>Place</td>
        <td>Name</td>
        <td>Role</td>
        <td>Additional points</td>
        <td>Lx points</td>
    </tr>
    <tr th:each="player : ${game.players}">
        <td><p th:text="${player.player_place}"></td>
        <td><p th:text="${player.name}"></td>
        <td><p th:text="${player.role}"></td>
        <td><p th:text="${player.additional_points}"></td>
        <td><p th:text="${player.lx_points}"></td>
    </tr>
</table>
</body>
</html>