<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Players</title>
</head>
<body>
<button value="new" onclick="window.location.href='/'">MAIN PAGE</button><br/>
<h2>Download</h2>
<button value="word" onclick="window.location.href='players/doc'">DOC</button>
<button value="pdf" onclick="window.location.href='players/pdf'">PDF</button>
<button value="excel" onclick="window.location.href='players/excel'">EXCEL</button><br/>
<h2>Add new player</h2>
<form method="post" action="">
    <input type="text" name="name" placeholder="Name">
    <button type="submit">Add player</button>
</form>

<h2>Players</h2>
<table>
    <tr>
        <td>ID</td>
        <td>NAME</td>
        <td>CREATE DATE</td>
        <td>LINK</td>
    </tr>

    <tr th:each="player : ${players}">
        <td th:text="${player.id}"/>
        <td th:text="${player.name}"/>
        <td th:text="${player.create_date}"/>
        <td>
            <a th:href="@{'/players/' + ${player.name} + '/show'}">More details</a>
        </td>
    </tr>
</table>
</body>
</html>