<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Player</title>
</head>
<body>
<button value="new" onclick="window.location.href='/'">MAIN PAGE</button><br/>
<p th:text="${player.id}"></p>
<p th:text="${player.name}"></p>
<p th:text="${player.create_date}"></p>
</body>
</html>