<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Rating</title>
</head>
<body>
<button value="new" onclick="window.location.href='/'">MAIN PAGE</button><br/>
<h2>Download</h2>
<button value="word" onclick="window.location.href='rating/doc'">DOC</button>
<button value="pdf" onclick="window.location.href='rating/pdf'">PDF</button>
<button value="excel" onclick="window.location.href='rating/excel'">EXCEL</button><br/>
<h2>Страница рейтинга доступная всем</h2>
<table>
    <tr>
        <td>Player</td>
        <td>KPD</td>
        <td>Points</td>
        <td>Points<br/>per game</td>
        <td>Games<br/>(rated)</td>
        <td>Add points</td>
        <td>LX</td>
        <td>Winrate</td>
        <td>Games</td>
        <td>Link</td>
    </tr>
    <tr th:each="player : ${playersStats}">
        <td th:text="${player.name}"></td>
        <td th:text="${player.kpd}"></td>
        <td th:text="${player.totalPoints}"></td>
        <td th:text="${player.pointsPerGame}"></td>
        <td th:text="${player.ratedGames}"></td>
        <td th:text="${player.addPoints}"></td>
        <td th:text="${player.lxPoints}"></td>
        <td th:text="${player.winRate}"></td>
        <td th:text="${player.games}"></td>
        <td>
            <a th:href="@{'/players/' + ${player.name} + '/show'}">More details</a>
        </td>
    </tr>
</table>
</body>
</html>