<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Movies</title>
</head>
<body>
<button value="word" onclick="window.location.href='authors/doc'">WORD</button>
<button value="pdf" onclick="window.location.href='authors/pdf'">PDF</button>
<button value="excel" onclick="window.location.href='authors/excel'">EXCEL</button><br/>
    <a href="/authors/create">Create an author</a>
    <table>
        <tr>
            <td>ID</td>
            <td>NAME</td>
            <td>GENDER</td>
            <td>MOVIE COUNT</td>
            <td>LINK</td>
        </tr>

        <tr th:each="author : ${authors}">
            <td th:text="${author.id}"/>
            <td th:text="${author.name}"/>
            <td th:text="${author.gender}"/>
            <td th:text="${author.movieCount}"/>
            <td>
                <a th:href="@{'/authors/' + ${author.id} + '/show'}">More details</a>
            </td>
        </tr>
    </table>
</body>
</html>