<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Author details</title>
</head>
<body>

<h1>Author details</h1>
<table>
    <tr>
        <td>ID</td>
        <td>NAME</td>
        <td>GENDER</td>
    </tr>

    <tr>
        <td th:text="${author.id}"/>
        <td th:text="${author.name}"/>
        <td th:text="${author.gender}"/>
    </tr>
</table>
<a href="/authors">All authors</a>

<h1>Author movies</h1>
<table>
    <tr>
        <td>ID</td>
        <td>NAME</td>
        <td>YEAR</td>
        <td>GENRE</td>
        <td>LANGUAGE</td>
        <td>LINK</td>
    </tr>

    <tr th:each="movie : ${movies}">
        <td th:text="${movie.id}"/>
        <td th:text="${movie.name}"/>
        <td th:text="${movie.year}"/>
        <td th:text="${movie.genre}"/>
        <td th:text="${movie.language}"/>
        <td>
            <a th:href="@{'/movies/' + ${movie.id} + '/show'}">More details</a>
        </td>
    </tr>
</table>
<a href="/movies">All movies</a>

</body>
</html>