<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Movies</title>
</head>
<body>
<button value="word" onclick="window.location.href='movies/doc'">WORD</button>
<button value="pdf" onclick="window.location.href='movies/pdf'">PDF</button>
<button value="excel" onclick="window.location.href='movies/excel'">EXCEL</button><br/>
    <a href="/movies/create">Create a movie</a>
    <table>
        <tr>
            <td>ID</td>
            <td>NAME</td>
            <td>YEAR</td>
            <td>GENRE</td>
            <td>LANGUAGE</td>
            <td>COMMENTARY</td>
            <td>RATING</td>
            <td>LINK</td>
        </tr>

        <tr th:each="movie : ${movies}">
            <td th:text="${movie.id}"/>
            <td th:text="${movie.name}"/>
            <td th:text="${movie.year}"/>
            <td th:text="${movie.genre}"/>
            <td th:text="${movie.language}"/>
            <td th:text="${movie.commentaryCount}"/>
            <td th:text="${movie.rating}"/>
            <td>
                <a th:href="@{'/movies/' + ${movie.id} + '/show'}">More details</a>
            </td>
        </tr>
    </table>
</body>
</html>