<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Enjoy your movie</title>
</head>
<body>

<h1>Movie details</h1>
<table>
    <tr>
        <td>ID</td>
        <td>NAME</td>
        <td>YEAR</td>
        <td>GENRE</td>
        <td>LANGUAGE</td>
    </tr>

    <tr>
        <td th:text="${movie.id}"/>
        <td th:text="${movie.name}"/>
        <td th:text="${movie.year}"/>
        <td th:text="${movie.genre}"/>
        <td th:text="${movie.language}"/>
    </tr>
</table>
<a href="/movies">All movies</a>

<h1>Authors</h1>
<table>
    <tr>
        <td>ID</td>
        <td>NAME</td>
        <td>GENDER</td>
    </tr>

    <tr th:each="author : ${authors}">
        <td th:text="${author.id}"/>
        <td th:text="${author.name}"/>
        <td th:text="${author.gender}"/>
        <td>
            <a th:href="@{'/authors/' + ${author.id} + '/show'}">More details</a>
        </td>
    </tr>
</table>
<a href="/authors">All authors</a>

<h1>Commentary</h1>
<form action="" method="post">
    <input name="name" placeholder="Name"><br/>
    <textarea name="message" placeholder="Message"></textarea><br/>
    <select name="rating">
        <option value="rating" selected disabled hidden>Choose rating</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
    </select>
    <button type="submit">Submit</button>
</form>
<table>
    <tr>
        <td>Date</td>
        <td>Name</td>
        <td>Message</td>
        <td>Rating</td>
    </tr>
    <tr th:each="feedback : ${feedbacks}">
        <td th:text="${feedback.date}"/>
        <td th:text="${feedback.name}"/>
        <td th:text="${feedback.message}"/>
        <td th:text="${feedback.rating}"/>
    </tr>
</table>

</body>
</html>